<p>
  {{#each @channels as |channel|}}
    <button {{on "click" (fn @onSelect channel)}}>
      {{channel.title}}
      {{!--
      {{#if channel.coverImage.src}}
        <img src="{{cloudinary-src channel.coverImage.src}}" alt="{{channel.title}}">
      {{/if}}
      --}}
    </button>
    {{yield channel}}
  {{/each}}
</p>
