{{add-player onSubmit=(route-action 'addPlayer')}}

{{#if model.players}}
  <ol>
    {{#each model.players as |player index|}}
      <li>
        {{input value=player.name}}
      </li>
    {{/each}}
  </ol>

  <button onclick={{route-action "continue"}}>
    Start quiz!
  </button>

  {{else}}
  <p>Add at least one player</p>
{{/if}}

{{outlet}}