{{#if model.quiz.players}}
{{else}}
  <p>Add the first player:</p>
{{/if}}

{{add-player onSubmit=(route-action 'addPlayer')}}

<h2>Players</h2>

{{#if model.quiz.players}}
  <ul>
    {{#each model.quiz.players as |player index|}}
      <li>Player: {{index}} {{player.name}}</li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}