<AddPlayer
  numberOfPlayers={{@model.players.length}}
  onSubmit={{route-action 'addPlayer'}} />

{{#if @model.players}}
  <ol>
    {{#each @model.players as |player|}}
      <li>
        <EditPlayer
          player={{player}}
          removePlayer={{route-action 'removePlayer'}}
        ></EditPlayer>
      </li>
    {{/each}}
  </ol>
{{else}}
  <p>If there is no player, does the game still exists?</p>
{{/if}}

{{outlet}}