{{#if model.id}}
  <p>
    {{link-to 'Quiz' 'quiz.index'}}: <strong>{{model.id}}</strong>
    {{#if model.players}}
      —
      <span>
        <strong>{{model.players.length}}</strong> {{link-to 'players' 'quiz.players'}}
      </span>
    {{/if}}

    —
    <span>
      {{link-to 'settings' 'quiz.settings'}}
    </span>

    {{#if model.channel.id}}
      <button onclick={{route-action "startQuiz"}}>
        Continue quiz!
      </button>
    {{/if}}
  </p>
{{/if}}

{{#if model.channel.id}}
  <p>Radio4000 {{link-to 'channel' 'quiz.channels'}}: <strong>{{model.channel.title}}</strong>.</p>
{{else}}
  <p>
    To continue, {{link-to 'select a radio channel' 'quiz.channels'}}.
    Questions will be based on its tracks.
  </p>
{{/if}}

{{outlet}}
